<div class="byline">
  <% if user.avatar.attached? %>
    <%= image_tag url_for(user.avatar), alt: "User Avatar", class: "avatar float-start" %>
  <% else %>
    <%= image_tag "default-photo", alt: "User Avatar", class: "avatar float-start" %>
  <% end %>

  <div class="poster">
    <%= link_to user_path(user) do %>
      <div>
        <%= user.first_name %> <%= user.last_name %>
      </div>
    <% end %>
    <% if updated_at != created_at %>
      <div>
        Updated <%= updated_at.strftime("%B %-d, %Y at %l:%M%p") %>
      </div>
    <% else %>
      <div>
        Posted <%= created_at.strftime("%B %-d, %Y at %l:%M%p") %>
      </div>
    <% end %>
  </div>
</div>