<%= form_for [@user, @post] do |f| %>

    <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
  
    <div class="field">
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>
  
    <div class="field">
      <%= f.label :image_url %>
      <%= f.text_field :image_url %>
    </div>
  
    <div class="field">
      <%= f.label :art_image %>
      <%= f.file_field :art_image %>
    </div>
  
    <%= f.submit "Submit", id: "submit" %>
  <% end %>
  
  <p><a href="/users/<%= @user.id %>/artworks" class="main_link">Cancel</a></p>