<div class="container opaque">
  <h1>Posts</h1>
  <% @posts.each do |post| %>
    <% if post.title? %>
      <h2><%= post.title %></h2>
    <% end %>
    <% if post.content? %>
      <p><%= post.content %></p>
    <% end %>
    <% if post.images.attached? %>
      <% post.images.each do |image| %>
        <%= image_tag url_for(image), class: "img-fluid post-image" %>
      <% end %>
    <% end %>
    <%= render "shared/byline", created_at: post.created_at, updated_at: post.updated_at, user: post.user %>
    <div>
      <%= link_to 'View Post', post_path(post) %>
    </div>
  <% end %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>