<div class="container opaque">
  <% if @post.title? %>
    <h1><%= @post.title %></h1>
  <% end %>
  <% if @post.content? %>
    <p><%= @post.content %></p>
  <% end %>
  <% if @post.images.attached? %>
    <% @post.images.each do |image| %>
      <%= image_tag url_for(image), class: "img-fluid post-image" %>
    <% end %>
  <% end %>
  <%= render "shared/byline", created_at: @post.created_at, updated_at: @post.updated_at, user: @post.user %>
  <p><%= @post.likes %> Likes</p>

  <% if @post.comments.present? %>
    <hr />
    <h2>Comments</h2>
    <div class="comments">
      <% @post.comments.each do |comment| %>
        <div><%= comment.content %></div>
        <%= render "shared/byline", created_at: comment.created_at, updated_at: comment.updated_at, user: comment.user %>
      <% end %>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <%= render 'comment_form' %>
  <% end %>
</div>