<div class="container opaque">
  <% if @post.title? %>
    <h1><%= @post.title %></h1>
  <% end %>
  <% if @post.content? %>
    <p><%= @post.content %></p>
  <% end %>
  <% if @post.images.attached? %>
    <% @post.images.each do |image| %>
      <%= image_tag url_for(image), class: "img-fluid" %>
    <% end %>
  <% end %>
  <p>Posted: <%= @post.created_at.strftime("%B %-d, %Y at %l:%M%p") %></p>
  <% if @post.updated_at != @post.created_at %>
    <p>Updated: <%= @post.updated_at.strftime("%B %-d, %Y at %l:%M%p") %></p>
  <% end %>
  <p>By: <%= @post.user.first_name %> <%= @post.user.last_name %></p>
  <p><%= @post.likes %> Likes</p>

  <% if @post.comments.present? %>
    <% @post.comments.each do |comment| %>
      <div><%= comment.content %></div>
    <% end %>
  <% end %>
  <% if user_signed_in? %>
    <%= render 'comment_form' %>
  <% end %>
</div>