<div class="container opaque">
  <h1><%= @post.title %></h1>
  <% if @post.images.attached? %>
    <%= image_tag url_for(@post.image), class: "img-fluid" %>
  <% end %>
  <p><%= @post.content %></p>
  <p>Posted: <%= @post.created_at.strftime("%B %-d, %Y at %l:%M%p") %></p>
  <% if @post.updated_at != @post.created_at %>
    <p>Updated: <%= @post.updated_at.strftime("%B %-d, %Y at %l:%M%p") %></p>
  <% end %>
  <p>By: <%= @post.user.first_name %> <%= @post.user.last_name %></p>
  <p><%= @post.likes %> Likes</p>
</div>